/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Read Mark Hurst */
/* 1em = 16px
Visit www.ModularScale.com  */
/* Scale Factor = 1.2 aka 6/5 Minor Third*/

/*General rules for all websites below */
html {
  font-size: 18px; /*18px = 1em*/
  line-height: 24px; /*24px = 1em*/
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
p {
  text-indent: 3em;
  padding: 0em 1em 1.333333em 1em;
}
ol {
  list-style-type: square;
  list-style-position: inside;
  padding: 0em 1em 1.3333333em 0em;
}
li{
  padding: 0em 1em 0em 1em;
}
footer{
  float: left;
  font-size: 0.46875em; /*1.125 / 2.4 */
  font-stretch: condensed;
  padding: 1em;
}
h1{
  font-size: 1.7222222em;
  font-weight: 900;
  line-height: 1.54815385em;
  padding: 0.77419355em 1em 1.5483871em 1em;
}
h2{
  font-size: 1.44444444em;
  line-height: 1.84615385em;
  padding: 0.92307692em 1em 0.92307692em 1em;
  font-weight: 700;
}
h3{
  font-size: 1.2222222em;
  line-height: 1.09090909em;
  padding: 1.09090909em 1em 0em 1em;
  font-weight: 600;
  font-style: italic;
}
body {
  background-color: #99918e;
}
.navigation{
  font-size: 1.4444444em;
  padding: 0.92307692em 1em 0.92307692em 1em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0.4em ridge #6c5c56;
}
.links{
  padding: 0.3em;
  color: #bda298;
  text-decoration: none;
  background-color:#63707a;
  border-radius: 0.2em;
}
/*Specifc Rules Below */
/*Fall Courses Rules */
#content{
  background-color: #bda298;
  font-size: 1em;
  line-height: 1.3333333em;
}
#monday,#tuesday,#wednesday,#thursday,#friday{
  float: left;
  padding-right: 1em;
}
#aclasses{
  float: left;
}
/* Rintro is the header of the resume page */
.rintro{
  text-align: center;
  padding: 0.5em 1em 0em 1em;
}
/*contentr is the main of the resume page
  contentc is the main of the fall_courses page
  contentd is the main of the dreamcars page */
#resume #content li{
  list-style-type: circle;
  list-style-position: inside;
}
#courses #content {
  float: left;
}
#content h2 {
  text-decoration: underline;
}
#cars #content{
  list-style-type: none;
}
#cars #content p{
  padding: 1.3333em 1.125em 1.33333em 1.125em;
}
/*banners class is for all the banners in the dream cars page */
.banners{
  background-color: #bdb498;
  color: rgb(67, 44, 44);
  border: 0.5em double black;
  display: flex;
  font-size: 1.44444444em;
  justify-content: space-between;
  margin: 0 auto;
}
/* carimg class is for all the car images for dream cars page */
.carimg{
  max-width: 100%;
  max-height: 8em;
}
/*media queries below*/
@media screen and (max-width: 600px) {
  .carimg{
    max-width: 100%;
    max-height: 4em;
  }
  .banners h2{
    font-size: 1em;
    padding: 0em;
  }
  .navigation {
    font-size: 1em;
  }
  #resume h1{
    font-size: 1.44444444em;
  }
  .rintro{
  font-size: 0.83333333em;
}
  #content h1{
    font-size: 1.4444444em;
  }
  #content h2{
    font-size: 1.2222222em;
  }
  #content h3{
    font-size: 1em;
  }
  #content{
    font-size: 0.833333333em;
  }
@media screen and (min-width: 1000px) {
  #cars #content p,li{
    margin: 0 auto;
  }
  #courses #content p,h3{
    margin: 0 auto;
  }
  #resume #content h3,li{
    margin: 0;
  }
}
