/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Read Mark Hurst */
/* 1em = 16px
1 lead = 22px
Visit www.ModularScale.com  */

/*General rules for all websites below */
html {
  font-size: 1.125em;
  line-height: 120%;
  padding: 1.222em 1em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
p {
  text-indent: 3em;
}
ol {
  list-style-type: square;
}
footer{
  float: left;
  font-size: 0.5625em;
  font-stretch: condensed;
  padding: 1em;
}
h2,h3,h4,h5,h6{
  padding: 0.625em 1.222em 0.625em 0em
}
h1{
  font-size: 2.253125em;
  font-weight: 900;
  padding-top: 1.222em;
  line-height: 100%;
  padding-bottom: 1.222em;
}
h2{
  font-size: 1.6875em;
  line-height: 100%;
  font-weight: 700;
}
h3{
  font-size: 1.40625em;
  font-weight: 600;
  font-style: italic;
}
/*Specifc Rules Below */
/*Fall Courses Rules */
#monday,#tuesday,#wednesday,#thursday,#friday{
  float: left;
  padding: 1.222em 1em;
}
#aclasses{
  float: left;
  width: 100%;
}
/* Rintro is the header of the resume page */
.rintro{
  text-align: center;
  padding: 0.5em 1em 0em 1em;
}
/*contentr is the main of the resume page
  contentc is the main of the fall_courses page
  contentd is the main of the dreamcars page */
#resume #content li,h2,h3{
  font-size: 1em;
  list-style-type: circle;
  list-style-position: inside;
}
#courses #content {
  float: left;
  padding:1.222em;
}
#cars #content{
  background-color: silver;
  border-radius: 3em;
  list-style-type: none;
}
#cars #content p{
  padding: 1.222em;
}
#brand{
  padding: 1.222em;
}
/*banners class is for all the banners in the dream cars page */
.banners{
  background-color: black;
  color: silver;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 2em;
}
/* carimg class is for all the car images for dream cars page */
.carimg{
  max-width: 50%;
  max-height: 10em;
}

/*media queries below*/
@media screen and (max-width: 550px) {
  #cars #content h2{
    font-size: 1.2em;
  }
  .carimg{
    max-width: 40%;
    max-height: 10em;
  }
  .banners{
    font-size: 1em;
  }
  #courses #content{
    padding: 1em;
    width: 80%;
  }
  #ctitle{
  font-size: 1.5em;
  }
  .rintro{
    font-size: 1.1em;
  }
  #resume #content h2,h3,li{
    font-size: 1em;
  }
@media screen and (min-width: 1000px) {
  #cars #content p,li{
    width: 70%;
    margin: 0 auto;
  }
  #courses #content p,h3{
    width: 50%;
    margin: 0 auto;
  }
  #resume #content h3,li{
    margin: 0;
    padding-left: 1.222em;
    width: 80%
  }
}
